<div class="page-header">
    <h1>{{ 'ir_order.admin.order.show.title'|trans }}</h1>
</div>  

<div class="well well-sm">
    <a href="{{ path('ir_order_admin_order_edit', {'id': order.id}) }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit"></span> {{ 'ir_order.admin.order.action.edit'|trans }}
    </a>
    <a href="{{ path('ir_order_admin_order_delete', {'id': order.id}) }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> {{ 'ir_order.admin.order.action.delete'|trans }}
    </a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'ir_order.admin.order.show.general_info'|trans }}
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>{{ 'ir_order.admin.order.invoice_number'|trans }}</td>
                <td>{{ order.invoiceNumber }}</td>        
            </tr>      
        </tbody>
    </table>
</div>

<!-- Order Items -->

<h3>{{ 'ir_order.admin.order_item.list.title'|trans }}</h3>

<div class="panel panel-default">
    {% if order.items|length %}
    <table class="table">      
        <thead>
            <tr>
                <th>{{ 'ir_order.admin.order_item.quantity'|trans }}</th>
                <th>{{ 'ir_order.admin.order_item.unit_price'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order.items %}
            <tr>
                <td>{{ order.quantity }}</td>
                <td>{{ order.unitPrice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="panel-body">
        {{ 'ir_order.admin.order_item.list.no_results'|trans }}
    </div>
    {% endif %}  
</div>